


.area_node {
    position: absolute;
    background-color: var(--grey-color);
    border-radius: 0.75rem;
    border-color: white;
    border-style: solid;
    overflow: hidden;
    pointer-events: all;
}
