

.close_button {
    position: relative;
    transition: linear 0.1s background-color;
}

.close_button_rect {
    position: absolute;
    background-color: var(--grey-color);
    color: green;
    width: 12.5%;
    height: 75%;
    left: 50%;
    top: 50%;
    transition: linear 0.1s background-color;
}

.left {
    transform: translate(-50%,-50%) rotate(45deg);
}

.right {
    transform: translate(-50%,-50%) rotate(-45deg);
}

.close_button:hover {
    background-color: var(--grey-color);
}

.close_button:hover > .close_button_rect {
    background-color: white;
}