:root {
  --accent-color: white;
  --text-color: white;
  --secondary-color: #3481d3;
  --button-color: #8634d3;
  --background-color: #3734d3;
  --grey-color: #333333;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: var(--background-color);
}

body {
    overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
  color: var(--text-color);
}

h3 {
  color: var(--text-color);
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
  background-color: var(--button-color);
  border-style: none;
  border-radius: 0.5rem;
  color: var(--accent-color);
  transition: linear 0.1s color, linear 0.1s background-color;
}

button:hover {
  background-color: var(--accent-color);
  color: var(--button-color);
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.corner_user_profile {
    top: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
    position: fixed;
    z-index: 1000;
}
