.guide_area_closed {
    background-color: var(--secondary-color);
    position: fixed;
    left: 0;
    bottom: 0;
    margin-left: 0.5vw;
    margin-bottom: 0.5vw;
    padding: min(2vw, 2vh);
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 0.5rem;
    color: white;
    transition: linear 0.05s color, linear 0.1s background-color;
    font-size: min(2vw, 2vh);
    width: 12vw;
}

    .guide_area_closed:hover {
        color: var(--secondary-color);
        background-color: white;
    }

.guide_area {
    position: fixed;
    left: 0;
    bottom: 11vh;
    width: min(50vw,38vh);
    background-color: var(--secondary-color);
    margin-left: 1vw;
    margin-bottom: 1vh;
    padding: min(1.5vw, 1.5vh);
    display: flex;
    flex-direction: column;
    border-radius: min(1vw, 1vh);
}

    .guide_area > p {
        color: black;
        background-color: white;
        flex-grow: 1;
        text-align: center;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        border-radius: min(1vw, 1vh);
        padding: min(1.5vw, 1.5vh);
        font-size: min(4vw, 2vh);
    }

.button_container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

    .button_container > button {
        font-size: min(4vw, 2vh);
        padding: min(1.15vw, 1.15vh);
    }

.image_container {
    background-color: black;
    border-radius: min(1vw, 1vh);
    width: 100%;
    display: flex;
}

    .image_container > img {
        border-radius: min(1vw, 1vh);
    }

.image_container > video {
    width: 100%;
}
