


.node_mover {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.draggable_area {
    width: 100%;
    height: 3rem;
    flex-shrink: 0;
    background-color: var(--secondary-color);
    transition: linear 0.05s background-color;
}

.draggable_area:hover {
    background-color: white;
}

.rest {
    width: 100%;
    flex-grow: 1;
    overflow: auto;
}