.description {
    padding: 0.5rem;
    flex-grow: 1;
}

.window_flex {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.bottom_button {
    font-size: 2rem;
    flex-grow: 1;
    border-radius: initial;
}

.delete_button {
    background-color: red;
}

.delete_button:hover {
    background-color: white;
    color: red;
}

.bottom_buttons_area {
    display: flex;
    width: 100%;
}