.user_content {

}

.image_container {
    width: auto;
    height: auto;
    margin: 1rem;
}

.image_container > img {
   border-radius: 100rem; 
   width: auto;
   height: 200px;
}

.user_content > h1 {
    background-color: var(--secondary-color);
    max-width: fit-content;
    color: black;
    padding: 0.5rem;
    border-radius: 1rem;
    margin: 1rem;
    font-size: min(calc(4vw),2rem);
}

.user_content > button {
    margin: 1rem;
}

.title_field {
    font-size: 2.5rem;
}