

.terminal {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(0,0,0,0.65);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
    z-index: 200;
    border-radius: 100rem;
}

.terminal_color {
    width: 50%;
    height: 50%;
    border-radius: 100rem;
}

.terminal:hover > .terminal_color {
    width: 75%;
    height: 75%;
}

.target_test {
    position: fixed;
    min-width: 1rem;
    min-height: 1rem;
    padding: 2rem;
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,255,0,1) 100%);
}

.origin {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1rem;
    height: 1rem;
}