

.zoom_controls {
    width: 13vw;
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

    .zoom_controls > button {
        background-color: var(--secondary-color);
        font-size: min(4vw, 4vh);
        margin: 0.25rem;
        height: 8vh;
    }

        .zoom_controls > button:hover {
            background-color: white;
            color: var(--secondary-color);
        }